
/* --Globals--*/
:root {
    --primaryColor: #77046D;
    --secundaryColor: #4F0348;
    --white: #fff;
    --black: #000;
    --gray: #b8b8b8;
    --boxShadow: 0px 0px 20px 5px rgb(41 9 39);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f3f3f3;
    font-family: 'Lato', sans-serif;
}
img {
    width: 100%;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
}
h3 {
    font-size: 2rem;
    margin: 3rem 0;
}
h1, h2, h3 {
    text-align: center;
}

/* --Utilities-- */
.container {
    width: 90%;
    margin: 0 auto;
}
.distance {
    margin: .7rem 0;
}
.bold--words {
    font-weight: bold;
}
/* --BEM-- */

/* Nav */
#btn__menu {
    color: var(--primaryColor);
    border-radius: 25px;
    width: 50px;
    height: 50px;
    font-size: 2rem;

    position: fixed;
    top: 0;
    right: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: .3s;
}
#btn__menu:hover {
    background-color: rgba(100, 100, 100, .2);
}
@media (min-width: 768px) {
    #btn__menu {
        display: none;
    }
}
.back__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    transition: .5s;
}
.nav {
    background-color: var(--primaryColor);
    position: fixed;
    top: 0;
    right: -50%;
    z-index: 1;
    width: 50%;
    height: 100vh;
    transition: .5s;
}
.nav__links {
    height: 50%;
}
.nav__ul {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.nav__li {
    width: 100%;
}
.nav__li a {
    padding: 1rem;
    
    display: block;
    color: var(--gray);
    text-decoration: none;
    text-transform: uppercase;

    transition: .3s;

}
.nav__li a:hover{
    color: var(--white);
    background-color: var(--secundaryColor);
    font-weight: bold;
}

@media (min-width: 768px) {
    .nav {
        left: 0;
        top: 0;
        height: unset;
        width: 100%;
        box-shadow: var(--boxShadow);
    }
    .nav__ul {
        flex-direction: row;
        justify-content: flex-end;
    }
    .nav__li {
        width: unset;
    }
    .nav__li a {
        height: unset;
        display: inline-block;
        padding: 2rem;
        font-size: 1rem;
    }
    .nav__ul:last-child {
        margin-right: 2rem;
    }
    .nav__li:nth-child(3) {
        display: none;
    }
    .back__menu {
        display: none;
    }
}
/* Header */
.header{
    margin-bottom: 10vh;
}
@media (min-width: 768px) {
    .header {
        padding-top: 6vh;
    }
}
.header__bg {
    background-image: url("../images/laptop.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 105vh;

    display: flex;
    flex-direction: column;
    align-items: center;
} 
.header__card {
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    text-align: center;
    text-transform: uppercase;
    
    padding: 2.2rem 0;
    width: 50%;
}
.header__card__text-dw {
    font-weight: normal;
}
.header__card__text-fe {
    color: var(--primaryColor);
}
.header__logo {
    margin: 3rem 0;
    width: 15%;
}
@media (max-width: 768px) {
    .header__card {
        width: 90%;
    }
    .header__logo {
        margin: 4rem 0;
        width: 60%;
    }
}

/* Main */
/* About */
.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 30vh;
}
@media (max-width: 768px) {
    .main {
        display: block;
    }
}
.main h2 {
    padding-top: 8vh;
}
.main__about {
    margin-bottom: 30vh;
}
.main__about__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
    font-size: 1.4rem;
}
@media (max-width: 600px) {
    .main__about__text {
        padding-top: 14rem;
    }
}
@media (max-width: 768px) {
    .main__about__text {
        gap: 1rem;
    }
}
@media (min-width: 768px) {
    .main h2 {
        padding-top: 10rem;
    }
    .main__about {
        margin-bottom: unset;
    }
}
/* Skills */
.main__about__text,
.main__skills__logos {
    height: 20rem;
    margin: 0 1rem;
}
@media (min-width: 768px) {
    .main__about__text {
        margin-top: 8rem;
    }
}
.main__skills__logos {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
   
    gap: 2rem;
}
.main__skills__logos > img,
.main__skills__logos a {
    width: 70%;
}
.main__skills__logos img:nth-child(4) {
    grid-column: span 2;
}
@media (max-width: 768px) {
    .main__skills__logos {
        grid-template-columns: repeat(2, 1fr);
    }
    .main__skills__logos img:nth-child(3) {
        grid-column: span 2;
        
    }
    .main__skills__logos img:nth-child(4) {
        grid-column: unset;

    }
    .main__skills__logos > img,
    .main__skills__logos a {
        width: 8rem;
    }
}

/* Portfolio */
.pf__section {
    margin-bottom: 30vh;
}
.pf__section h2 {
    padding-top: 12vh;
}
.pf__section__flex {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.pf__container {
    margin: 0 auto;
}
.pf__container__card {
    background-color: var(--white);
    margin: 0 auto;
    transition: .3s;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0);
}
.pf__container__card:hover {
    box-shadow: var(--boxShadow);
}
@media (max-width: 768px) {
    .pf__container__card {
        width: 100%;
    }
}
.card__logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 0;
}
.card__logos img{
    width: 10%;
}
.pf__container__image {
    width: 100%;
}
.pf__container__link{
    padding: 1rem 0;
    display: flex;
    justify-content: space-evenly;

}
.pf__container__link > a {
    color: var(--gray);
    background-color: var(--secundaryColor);
    border-radius: 25px;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s;
}
.pf__container__link > a:hover {
    color: var(--white);
    background-color: var(--primaryColor);
}
@media (max-width: 768px) {
    .pf__section__flex {
        flex-direction: column;
    }
    .pf__container__link > a {
        color: var(--white);
    }
}
@media (max-width: 970px) {
    .pf__section__flex {
        flex-direction: column;
    }
}

/* Footer */

.footer {
    color: var(--white);
    background-color: var(--primaryColor);
    box-shadow: var(--boxShadow);
}
.footer h2{
    padding: 2rem 0 0 0;
}
.footer p {
    font-size: 1.5rem;
    text-align: center;
}
.footer__sn {
    width: 90%;
    margin: 2rem auto;

    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.footer__sn > a{
    width: 8rem;
}
.footer p:last-of-type {
    padding: 2rem;
}