
/* --Globals--*/
:root {
    --primaryColor: #52144C;
    --white: #fff;
    --black: #000;
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 3rem;
    margin: 4rem 0;
}
h1, h2, h3 {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}
/* --Utilities-- */
.container {
    width: 90%;
}
.distance {
    margin: .7rem 0;
}
.bold--words {
    font-weight: bold;
}

/* --BEM-- */

/* Nav */
.nav__list {
    background-color: var(--primaryColor);
    padding: 1.6rem 0;
    list-style: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav__item {
    margin-right: 4rem;
    margin: 0 2rem;
}
.nav__item:last-child {
    margin-right: 6rem;
}
.nav__item a{
    text-decoration: none;
    color: var(--white)
}

/* Header */
.header {
    margin-bottom: 2rem;
}
 .header__bg {
    background-image: url("../images/laptop.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -6rem;

    height: 105vh;

    display: flex;
    flex-direction: column;
    align-items: center;
} 
.header__card {
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    text-align: center;
    text-transform: uppercase;
    
    padding: 2.2rem 0;
    width: 50%;
}
.header__card__text-dw {
    font-weight: normal;
}
.header__card__text-fe {
    color: var(--primaryColor);
}
.header__logo {
    margin: 3rem 0;
    width: 15%;
}

/* Main */
.main {    
    display: flex;
    flex-direction: row;
    margin: 0 auto 15rem auto;
    gap: 2rem;
}
.main p {
    font-size: 1.2rem;
}
.main__about__text {
    text-align: justify;
    padding: 2rem;
}
/* Skills */
.main__about,
.main__skills {
    width: 50%;
    height: 30rem;    
}

.main__skills__logos {
    height: 74%;
    width: 90%;
    margin: 4rem auto;

    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    gap: 2rem;
}
/* Logos */
.main__skills__logos > img {
    width: 100%;
    height: 100%;
}
.logo__js {
    width: 92%;
}
.logo__git {
    grid-column: span 2;
    width: 70%;
    margin: 0 auto;
}
.logo__github {
    grid-column: 3 / 4;
}

/* Portfolio */
.portfolio__window {
    background-color: lightgray;
    height: 20rem;
    width: 20rem;
    margin: 0 auto;
}

/* Footer */

.footer {
    color: var(--white);
    background-color: var(--primaryColor);
}
.footer h2{
    padding-top: 2rem;
}
.footer p {
    font-size: 1.5rem;
    text-align: center;
}