
/* --Globals--*/
:root {
    --primaryColor: #77046D;
    --secundaryColor: #63035b;
    --white: #fff;
    --black: #000;
    --gray: #b8b8b8;
    --boxShadow: 0px 0px 20px 5px rgb(41 9 39);
}

h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 3rem;
    margin: 4rem 0;
}
h3 {
    font-size: 2rem;
    margin: 3rem 0;
}
h1, h2, h3 {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
    font-family: sans-serif;
}
/* --Utilities-- */
.container {
    width: 90%;
}
.distance {
    margin: .7rem 0;
}
.bold--words {
    font-weight: bold;
}

/* --BEM-- */

/* Nav */
.nav__list {
    background-color: var(--primaryColor);
    list-style: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    box-shadow: var(--boxShadow);
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav__item {
    padding: 1.6rem 1rem;
    margin: 0 2rem;
}
.nav__item:last-child {
    margin-right: 6rem;
}
.nav__item a{
    text-decoration: none;
    color: var(--gray);
    transition: .2s;
    padding-bottom: .6rem;
}
.nav__item a:hover {
    border-bottom: solid 2px;
    color: var(--white);
}

/* Header */
.header {
    padding-top: 4rem;
}
 .header__bg {
    background-image: url("../images/laptop.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -6rem;

    height: 105vh;

    display: flex;
    flex-direction: column;
    align-items: center;
} 
.header__card {
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: .5rem;
    text-align: center;
    text-transform: uppercase;
    
    padding: 2.2rem 0;
    width: 50%;
}
.header__card__text-dw {
    font-weight: normal;
}
.header__card__text-fe {
    color: var(--primaryColor);
}
.header__logo {
    margin: 3rem 0;
    width: 15%;
}

/* Main */
.main {    
    height: 35rem;
    margin: 8rem auto 20rem auto;
    
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.main p {
    font-size: 1.2rem;
}
.main__about__text {
    text-align: justify;
    padding: 2rem;
}
/* Skills */
.main__about,
.main__skills {
    width: 50%;
    height: 30rem;    
}

.main__skills__logos {
    height: 74%;
    width: 90%;
    margin: 4rem auto;

    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);
    gap: 2rem;
}
/* Logos */
.main__skills__logos > img {
    height: 100%;
    margin: 0 auto;
}
.logo__git {
    grid-column: span 2;
    width: 70%;
    margin: 0 auto;
}
.logo__github {
    grid-column: 3 / 4;
    width: 100%;
    height: 100%;
}

/* Portfolio */
.pf__section {
    margin: 10rem 0;
    display: flex;
}
.pf__container {
    margin: 0 auto;
}
.pf__container__card {
    background-color: var(--white);
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    transition: .3s;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0);
}
.pf__container__card:hover {
    box-shadow: var(--boxShadow);
}
.card__logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 2rem 0;
}
.card__logos img{
    width: 10%;
}
.pf__container__image {
    width: inherit;
    border: 2px solid var(--primaryColor);
}
.pf__container__link{
    margin-top: 1.8rem;
    display: flex;
    justify-content: space-evenly;
}
.pf__container__link > a {
    color: var(--gray);
    background-color: var(--secundaryColor);
    border-radius: 4px;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s;
}
.pf__container__link > a:hover {
    color: var(--white)
}
/* Footer */

.footer {
    color: var(--white);
    background-color: var(--primaryColor);
    box-shadow: var(--boxShadow);

    height: 30rem;
}
.footer h2{
    padding-top: 2rem;
}
.footer p {
    font-size: 1.5rem;
    text-align: center;
}
.footer__sn {
    width: 90%;
    height: 10rem;
    margin: 2rem auto;

    display: flex;
    justify-content: space-evenly;
}
.footer__sn > a{
    width: 8rem;
}
.footer__sn > a > img {
    width: 100%;
}