---
import type { ProjectImageType } from "@src/types";
const { imageSrc, title, link } = Astro.props as ProjectImageType;
---

{
    imageSrc && (
        <a href={link} class="mb-4 block max-w-fit" target="_blank">
            <img
                src={imageSrc}
                alt={title}
                class="w-full rounded-md object-cover aspect-[16/9] max-w-48"
                width="474"
                height="267"
            />
        </a>
    )
}
