---
const { class: className, role } = Astro.props;
const classList = className ? `mb-section-gap ${className}` : "mb-section-gap";
---

<section class={classList} role={role}>
    <slot />
</section>
