---
import Layout from "@layouts/Layout.astro";

import type { lang } from "@src/types";

const lang: lang = "en";
---

<Layout title="Nelson Rojas - Frontend Developer" lang="en">
    <div class="min-h-screen grid place-content-center"></div>
</Layout>
