---
import Layout from "@layouts/Layout.astro";
import Form from "@src/components/ui/Form.astro";

import type { lang } from "@src/types";

const lang: lang = "en";
---

<Layout title="Nelson Rojas - Frontend Developer" lang="en">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita illo
        veniam consequuntur nostrum adipisci debitis praesentium quis suscipit
        magni quasi mollitia corrupti est architecto rerum quidem molestias, in
        fuga deleniti voluptatum alias eligendi perferendis! Fugiat officia
        cupiditate dicta. Numquam voluptates, similique molestias doloribus
        temporibus saepe obcaecati, sequi doloremque quos consequatur architecto
        excepturi quo dolorum, odio voluptatem dolorem et repellendus mollitia
        dicta vero blanditiis neque quod magnam! Maiores maxime doloremque
        voluptates veniam accusamus magni obcaecati id, fugit eaque ullam!
        Porro, illum deserunt quis pariatur dicta ex! Sequi, facere quis
        molestias eveniet optio repellat aperiam exercitationem quos harum
        repudiandae sint qui amet ipsam blanditiis? Reiciendis sapiente eaque
        perspiciatis ipsum, voluptatum distinctio! Id hic nobis perferendis ea
        architecto ex. Voluptatibus, culpa modi? Tempora cumque, eaque tempore,
        adipisci facere quasi possimus provident ex eius sapiente ad illo quia
        molestiae voluptatibus cum delectus exercitationem aspernatur iure ab
        rem placeat laudantium. Deleniti delectus cupiditate ipsam, ipsum, sit
        necessitatibus nulla nihil doloribus quas quibusdam error minus eos
        laudantium quos a magnam consequatur? Eveniet et sunt totam iste
        quisquam sit dolor eum voluptatum repellendus culpa excepturi quibusdam
        vitae impedit consequuntur, ipsam dignissimos ea aut eos? Repellendus,
        soluta? Accusantium tempore recusandae at architecto dignissimos
        voluptatem quod consequatur repellendus est soluta, necessitatibus velit
        illum nesciunt quas provident, tempora optio. Nulla, dolores commodi?
        Ullam cumque id enim consectetur magni, debitis cum unde vitae, ab
        assumenda qui ex sed hic magnam doloremque recusandae impedit
        temporibus, voluptas optio nemo culpa! Voluptatibus obcaecati aut error
        pariatur, culpa praesentium enim repellendus nihil excepturi porro
        aliquid facilis blanditiis deserunt? Optio placeat ullam dolore modi.
        Placeat animi fuga eos voluptates odit accusantium obcaecati repudiandae
        perferendis, cupiditate veniam nulla vel vero aliquam quos magni sint
        adipisci possimus. Qui, praesentium? Maiores, provident et adipisci
        repellendus, necessitatibus dignissimos assumenda, neque labore sit esse
        minima cumque aperiam molestiae. Repudiandae, esse cum.
    </p>
    <Form />
</Layout>
