---
import Layout from "@layouts/Layout.astro";
import Form from "@src/components/ui/Form.astro";

import type { lang } from "@src/types";

const lang: lang = "en";
---

<Layout title="Nelson Rojas - Frontend Developer" lang="en">
    <div class="min-h-screen grid content-center relative">
        <Form />
    </div>
</Layout>
