---
import Section from "@components/article/Section.astro";
import H2 from "@components/headings/H2.astro";
import { Content as AboutContent } from "@content/about/en/about.md";
import { Content as AboutContentES } from "@content/about/es/about.md";

const { lang } = Astro.props;
---

<Section
    class:list={"group/sectionAlign"}
    role={lang === "es" ? "Sobre mí" : "About me"}
>
    <H2 class:list={"lg:px-4"}>{lang === "es" ? "Sobre mí" : "About"}</H2>
    <div class="prose prose-invert lg:px-4 text-pretty">
        {lang === "es" ? <AboutContentES /> : <AboutContent />}
    </div>
</Section>
