---
import { getCollection } from "astro:content";
import H2 from "@components/headings/H2.astro";
import Section from "@components/article/Section.astro";
import Certificate from "../Certificate.astro";
const { lang } = Astro.props;

const certificates = (await getCollection("certificates"))
    .filter((job) => job.id.startsWith(`${lang}/`))
    .sort((a, b) => {
        return (
            new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
        );
    });
---

<Section class:list={["content-visibility-auto"]}>
    <H2 class:list={"lg:px-4"}
        >{lang === "es" ? "Certificados" : "Certificates"}</H2
    >
    <ul class="group/opacity">
        {
            certificates.map((certificate) => (
                <li>
                    <Certificate
                        {...certificate}
                        isCertificate={true}
                        class:list={["mb-0"]}
                    />
                </li>
            ))
        }
    </ul>
</Section>
