---
import Article from "@components/article/Article.astro";
import { getCollection } from "astro:content";
import H2 from "@components/headings/H2.astro";
import Section from "@components/article/Section.astro";
const { lang } = Astro.props;

const certificates = (await getCollection("certificates"))
    .filter((job) => job.id.startsWith(`${lang}/`)) // filter certificates by locale
    .sort((a, b) => b.data.date.localeCompare(a.data.date)); // sort by date
---

<Section>
    <H2 class:list={"lg:px-4"}
        >{lang === "es" ? "Certificados" : "Certificates"}</H2
    >
    <ul class="group/opacity">
        {
            certificates.map((certificate) => (
                <li>
                    <Article
                        {...certificate}
                        isCertificate={true}
                        class:list={["mb-0"]}
                    />
                </li>
            ))
        }
    </ul>
</Section>
