---
import { getCollection } from "astro:content";
import Article from "@components/article/Article.astro";
import H2 from "@components/headings/H2.astro";
import Section from "@components/article/Section.astro";

const { lang } = Astro.props;
const jobs = (await getCollection("jobs"))
    .filter((job) => job.id.startsWith(`${lang}/`)) // filter jobs by locale
    .sort((a, b) => b.data.date.localeCompare(a.data.date)); // sort by date
---

<Section>
    <H2 class:list={"lg:px-4"}
        >{lang === "es" ? "Experiencia" : "Experience"}</H2
    >
    <ul>
        {jobs.map((job) => <Article {...job} isMargin={true} />)}
    </ul>
</Section>
