---
import SocialNetworks from "@components/ui/SocialNetworks.astro";
import Footer from "@components/common/Footer.astro";
import Skills from "@components/sections/Skills.astro";
import { Content as HeaderContent } from "@content/header/en/header.md";
import { Content as HeaderContentES } from "@content/header/es/header.md";
import LangSlider from "@components/ui/LangSlider.astro";
import Button from "@components/ui/Button.astro";
import H1 from "../headings/H1.astro";
const { lang } = Astro.props;
---

<div
    class="top-0 left-0 flex-col items-start justify-between lg:h-screen lg:sticky lg:z-10 lg:flex lg:py-8"
>
    <header class="mb-section-gap w-full">
        <div
            class="grid items-center mb-4 lg:grid-cols-header md:grid-cols-2 justify-items-start gap-y-6 gap-x-4"
        >
            <div
                class="md:place-self-start place-self-center flex flex-col gap-y-4 gap-x-2 max-w-[40ch]"
            >
                <H1 class:list={"text-center md:text-left"}>
                    <span class="text-accent">Nelson Rojas</span>
                    <span
                        class="block text-xl font-normal lg:text-xl font-nunito"
                        >{
                            lang === "es"
                                ? "Desarrollador Frontend"
                                : "Frontend Developer"
                        }</span
                    >
                </H1>
            </div>
            <div
                class="sm:row-span-2 place-self-center relative overflow-hidden"
            >
                <div class="profile-box-shadow absolute -inset-1 rounded-full">
                </div>
                <img
                    src="/assets/profile/profile_200x200.webp"
                    alt="Profile"
                    class="rounded-full lg:max-w-36 lg:max-h-36 max-w-36 max-h-36 aspect-square profile-img"
                    width={200}
                    height={200}
                    loading={"eager"}
                />
            </div>
            <div class="prose prose-invert md:max-w-[30ch]">
                {lang === "es" ? <HeaderContentES /> : <HeaderContent />}
            </div>
            <div
                class="grid grid-cols-2 justify-self-stretch lg:grid-cols-header md:grid-cols-2 sm:grid-cols-header md:col-span-2 gap-x-4"
            >
                <SocialNetworks class:list={["place-self-start"]} />
                <LangSlider
                    class:list={["place-self-end md:place-self-center"]}
                    lang={lang}
                    href={lang === "es" ? "/" : "/es"}
                />
            </div>
            {
                lang === "es" ? (
                    <a href="/es/contact-me">
                        <Button>Contáctame</Button>
                    </a>
                ) : (
                    <a href="/contact-me">
                        <Button>Contact me</Button>
                    </a>
                )
            }
        </div>
    </header>
    <div class="max-lg:hidden">
        <Skills class:list={["mb-section-gap"]} />
    </div>
    <div class="max-lg:hidden">
        <Footer lang={lang} />
    </div>
</div>

<style>
    .profile-box-shadow {
        box-shadow: inset 0 0 40px 10px rgb(13, 8, 33);
    }
</style>
