---
const { class: className = "" } = Astro.props;
---

<h1
    class:list={[
        className,
        "text-4xl lg:text-5xl font-bold leading-tight text-balance font-nunitoBold"
    ]}
>
    <slot />
</h1>
