---
import Layout from "@layouts/Layout.astro";
import Footer from "@src/components/common/Footer.astro";
import AnchorNavigationText from "@src/components/ui/AnchorNavigationText.astro";
import Form from "@src/components/ui/Form.astro";
import H1 from "@src/components/headings/H1.astro";

import type { lang } from "@src/types";
const { searchParams } = Astro.url;
const _action = searchParams.get("_action");
const isActionSend = _action === "send";
const lang: lang = "en";
const description =
    "Do you have an idea or project in mind? Contact me to develop a compelling and efficient digital solution.";
---

<Layout
    title="Contact - Let's Talk About Your Project"
    lang={lang}
    metaDescription={description}
>
    <div class="lg:py-8 lg:px-40 mb-16">
        {
            !isActionSend && (
                <div class="mb-8 md:mb-16">
                    <span class="text-accent">
                        <AnchorNavigationText
                            href="/"
                            class:list={["py-2"]}
                            goBack
                        >
                            Nelson Rojas
                        </AnchorNavigationText>
                    </span>
                    <H1 class="text-4xl lg:text-5xl mb-4">Contact me</H1>
                </div>
            )
        }
        <Form lang={lang} />
    </div>
    {!isActionSend && <Footer class:list={["text-center"]} />}
</Layout>
