---
import About from "../components/About.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nelson Rojas - Frontend Developer">
    <main>
        <Header />
        <About />
    </main>
</Layout>
