---
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Footer from "@components/common/Footer.astro";
import Main from "@components/Main.astro";
import TechSkills from "@components/TechSkills.astro";

import type { lang } from "@src/types";

const lang: lang = "en";
---

<Layout title="Nelson Rojas - Frontend Developer">
    <div class="lg:grid grid-cols-2 gap-x-10 relative">
        <Header lang={lang} />
        <Main lang={lang} />
        <div
            class="hidden lg:hidden max-lg:block md:flex md:items-end md:gap-x-12 justify-between"
        >
            <TechSkills class:list={["max-md:mb-section-gap"]} />
            <Footer lang={lang} />
        </div>
    </div>
</Layout>
