---
import Layout from "@src/layouts/Layout.astro";
import AllProjects from "@src/components/AllProjects.astro";
---

<Layout title="Nelson Rojas - Frontend Developer | Projects" lang="en">
    <div class="lg:py-8">
        <h1 class="text-4xl lg:text-5xl">All Projects</h1>
        <AllProjects lang="en" />
    </div>
</Layout>
