---
import Section from "./article/Section.astro";
import HeadingTwo from "./headings/HeadingTwo.astro";
---

<Section>
    <HeadingTwo>About</HeadingTwo>
    <div class="prose prose-invert">
        <p>
            I am Nelson Rojas, an outgoing, kind, and persevering individual
            with a passion for <strong>web development</strong>.
        </p>
        <p>
            Since May 2021, I have been self-taught in front-end development,
            dedicating myself to mastering technologies with discipline and
            determination.
        </p>
        <p>
            Through a solid learning path, constant practice, and project
            creation, I have honed my technical skills and gained a better
            understanding of user needs.
        </p>
        <p>
            Each project has allowed me to deepen my knowledge, and my passion
            drives me to continue <strong>learning</strong> and <strong
                >improving</strong
            >.
        </p>
    </div>
</Section>
