<section class="mb-section-gap">
    <h2 class="text-lg font-bold mb-4 uppercase">About</h2>
    <div class="prose prose-invert">
        <p>
            I am Nelson Rojas, an extroverted, kind, and persevering individual
            with a passion for <strong>web development</strong>.
        </p>
        <p>
            Since May 2021, I have been self-taught in front-end development,
            dedicating myself to mastering technologies with discipline and
            determination.
        </p>
        <p>
            Through a solid learning path, constant practice, and project
            creation, I have honed my technical skills and gained a better
            understanding of user needs. Each project has allowed me to deepen
            my knowledge, and my passion drives me to continue <strong
                >learning</strong
            > and <strong>improving</strong>.
        </p>
    </div>
</section>
