---
import Section from "./article/Section.astro";
import H2 from "./headings/H2.astro";

const lang = Astro.preferredLocale;
const enDescription = "";
---

<Section class:list={"group/sectionAlign"}>
    <H2 class:list={"lg:px-4"}>About</H2>
    <div class="prose prose-invert lg:px-4">
        <p>
            I am Nelson Rojas, an outgoing, kind, and persevering individual
            with a passion for <strong>web development</strong>.
        </p>
        <p>
            Since 4 years ago, I have been self-taught in front-end development,
            dedicating myself to mastering technologies with discipline and
            determination.
        </p>
        <p>
            Through a solid learning path, constant practice, and project
            creation, I have honed my technical skills and gained a better
            understanding of user needs.
        </p>
        <p>
            Each project has allowed me to deepen my knowledge, and my passion
            drives me to continue <strong>learning</strong> and <strong
                >improving</strong
            >.
        </p>
    </div>
</Section>
