---
import Article from "./Article.astro";
import { getCollection } from "astro:content";

const jobs = (await getCollection("jobs")).sort((a, b) =>
    b.data.date.localeCompare(a.data.date)
);
---

<section class="mb-section-gap">
    <h2 class="text-lg font-bold mb-4 uppercase">Experience</h2>
    <ul>
        {jobs.map((job) => <Article {...job} />)}
    </ul>
</section>
