---
import { getCollection } from "astro:content";
import Article from "./article/Article.astro";
import H2 from "./headings/H2.astro";
import Section from "./article/Section.astro";

const jobs = (await getCollection("jobs")).sort((a, b) =>
    b.data.date.localeCompare(a.data.date)
);
---

<Section>
    <H2 class:list={"lg:px-4"}>Experience</H2>
    <ul>
        {jobs.map((job) => <Article {...job} />)}
    </ul>
</Section>
