---
import JobCard from "./JobCard.astro";
import { getCollection } from "astro:content";

const jobs = await getCollection("jobs");
---

<section class="mb-section-gap">
    <h2 class="text-xl font-bold mb-4 uppercase">Experience</h2>
    <ul>
        {jobs.map((job) => <JobCard {job} />)}
    </ul>
</section>
