---
import Article from "./article/Article.astro";
import { getCollection } from "astro:content";
import HeadingTwo from "./headings/HeadingTwo.astro";
import Section from "./article/Section.astro";

const jobs = (await getCollection("jobs")).sort((a, b) =>
    b.data.date.localeCompare(a.data.date)
);
---

<Section>
    <HeadingTwo>Experience</HeadingTwo>
    <ul>
        {jobs.map((job) => <Article {...job} />)}
    </ul>
</Section>
