---
import { Image } from "astro:assets";
import profileImage from "@assets/profile.webp";
import SocialNetworks from "./SocialNetworks.astro";
import Footer from "./common/Footer.astro";
import TechSkills from "./TechSkills.astro";

import { Content as HeaderContent } from "../content/header/en/header.md";
import { Content as HeaderContentES } from "../content/header/es/header.md";
import LangSlider from "./LangSlider.astro";
const { lang } = Astro.props;
---

<div
    class="lg:h-screen lg:sticky lg:z-10 top-0 left-0 lg:flex flex-col items-start justify-between lg:py-8"
>
    <header class="mb-section-gap">
        <div
            class="grid grid-cols-header items-center justify-items-center mb-4 gap-6"
        >
            <div
                class="place-self-start flex flex-col gap-y-4 gap-x-2 max-w-[40ch]"
            >
                <h1 class="font-bold leading-tight text-balance">
                    <span class="md:text-5xl text-3xl text-accent"
                        >Nelson Rojas</span
                    >
                    <span class="md:text-2xl text-xl block"
                        >{
                            lang === "es"
                                ? "Desarrollador Frontend"
                                : "Frontend Developer"
                        }</span
                    >
                </h1>
                <div class="prose prose-invert">
                    {lang === "es" ? <HeaderContentES /> : <HeaderContent />}
                </div>
            </div>
            <Image
                src={profileImage}
                alt="Profile"
                class="lg:max-w-36 lg:max-h-36 md:max-w-36 md:max-h-36 max-w-36 max-h-36 aspect-square rounded-full"
                width={200}
                height={200}
                loading={"eager"}
            />
            <div class="place-self-start">
                <SocialNetworks />
            </div>
            <LangSlider lang={lang} href={lang === "es" ? "/" : "/es"} />
        </div>
    </header>
    <div class="max-lg:hidden">
        <TechSkills class:list={["mb-section-gap"]} />
    </div>
    <div class="max-lg:hidden">
        <Footer lang={lang} />
    </div>
</div>

<style></style>
