---
import Image from "astro/components/Image.astro";

interface Props {
    link?: string;
    src: string;
    alt: string;
}

const { link, src, alt } = Astro.props;
---

<a
    href={link}
    target="_blank"
    class="lg:hover:scale-110 transition-transform duration-custom ease-in-out icon"
>
    <Image src={src} alt={alt} width={32} height={32} loading="eager" />
</a>

<style>
    @media screen and (min-width: 1024px) {
        .icon:hover {
            filter: invert(68%) sepia(18%) saturate(1378%) hue-rotate(207deg)
                brightness(100%) contrast(107%);
        }
    }
</style>
