---
import type {
    lang,
    TransitionAnimation,
    TransitionDirectionalAnimations
} from "@src/types";

interface Props {
    lang: lang;
    href: string;
}

const { lang, href } = Astro.props;

const anim: TransitionAnimation = {
    name: "langSlideForwards",
    fillMode: "forwards"
};

const customTransition: TransitionDirectionalAnimations = {
    forwards: {
        old: anim,
        new: anim
    },
    backwards: {
        old: anim,
        new: anim
    }
};
---

<a
    href={href}
    class=`lang-slider block flex uppercase rounded-[10px] bg-accent overflow-hidden border-accent border-2 font-nunitoBold font-bold relative z-0 $`
>
    <span
        class=`py-1 px-4 ${lang === 'en' ? 'text-black' : 'text-white bg-primary'}  transition-colors duration-custom ease-in-out rounded-l-[10px]`
        >en</span
    >
    <span
        transition:name="lang-slider"
        transition:animate={customTransition}
        class=`lang-slider-bubble absolute top-0 bottom-0 ${lang === 'es' ? '-right-0 left-[50%] ' : '-left-0 right-[50%]'} bg-accent -z-10 transition-transform duration-custom ease-in-out rounded-[10px]`
    ></span>
    <span
        class=`py-1 px-4 ${lang === 'es' ? 'text-black' : 'text-white bg-primary'} transition-colors duration-custom ease-in-out rounded-r-[10px]`
        >es</span
    >
</a>
