---
import About from "./About.astro";
import Experience from "./Experience.astro";
import Projects from "./Projects.astro";
---

<main class="lg:py-8">
    <About />
    <Experience />
    <Projects />
</main>
