---
import Article from "./article/Article.astro";
import { getCollection } from "astro:content";
import HeadingTwo from "./headings/HeadingTwo.astro";
import Section from "./article/Section.astro";

const projects = await getCollection("projects");
const projectsSorted = projects.sort((a, b) => {
    if (a.data.order && b.data.order) {
        return a.data.order - b.data.order;
    }
    return 0;
});
---

<Section>
    <HeadingTwo class:list={"lg:px-4"}>Projects</HeadingTwo>
    <ul class="group/opacity">
        {
            projectsSorted.map((project) => (
                <li>
                    <Article {...project} />
                </li>
            ))
        }
    </ul>
</Section>
