---
import AnchorText from "@components/ui/AnchorText.astro";

const { class: className } = Astro.props;
---

<footer class={`text-pretty ${className && className}`}>
    <p>
        Inspirado por el portafolio de <AnchorText
            class:list={["font-bold"]}
            href="https://brittanychiang.com/"
        >
            Brittany Chiang.</AnchorText
        >
    </p>
    <p>
        Desarrollado con<AnchorText
            class:list={["font-bold"]}
            href="https://astro.build/">Astro,</AnchorText
        >
        <AnchorText class:list={["font-bold"]} href="https://tailwindcss.com/"
            >Tailwind CSS,</AnchorText
        >
        y <AnchorText
            class:list={["font-bold"]}
            href="https://www.typescriptlang.org/">TypeScript.</AnchorText
        >
    </p>
    <p>
        Hecho con <span aria-label="cariño" title="cariño">❤️</span> por Nelson Rojas.
    </p>
</footer>
