---
import AnchorText from "@components/ui/AnchorText.astro";
import FooterEs from "@components/common/FooterEs.astro";
const { lang, class: className = "" } = Astro.props;
---

{
    lang === "es" ? (
        <FooterEs class:list={[className]} />
    ) : (
        <footer class={`text-pretty ${className && className}`}>
            <p>
                Inspired by
                <AnchorText
                    class:list={["font-bold"]}
                    href="https://brittanychiang.com/"
                >
                    Brittany Chiang's
                </AnchorText>
                portfolio.
            </p>
            <p>
                Developed using
                <AnchorText
                    class:list={["font-bold"]}
                    href="https://astro.build/"
                >
                    Astro,
                </AnchorText>
                <AnchorText
                    class:list={["font-bold"]}
                    href="https://tailwindcss.com/"
                >
                    Tailwind CSS,
                </AnchorText>
                and{" "}
                <AnchorText
                    class:list={["font-bold"]}
                    href="https://www.typescriptlang.org/"
                >
                    TypeScript.
                </AnchorText>
            </p>
            <p>
                Made with{" "}
                <span aria-label="love" title="love">
                    ❤️
                </span>{" "}
                by Nelson Rojas.
            </p>
        </footer>
    )
}
