---
import Icon from "./Icon.astro";
import type { SocialNetworkType } from "../../types";

const socials: SocialNetworkType[] = [
    {
        link: "https://github.com/nrdevpy",
        src: "/assets/logos/github.svg",
        alt: "Github Icon"
    },
    {
        link: "https://www.linkedin.com/in/nr-dev/",
        src: "/assets/logos/linkedin.svg",
        alt: "Linkedin Icon"
    },
    {
        link: "https://x.com/N3LSONROJ4S",
        src: "/assets/logos/x.svg",
        alt: "Twitter Icon"
    }
];
---

<div class="flex gap-x-6">
    {socials.map((social) => <Icon {...social} />)}
</div>
