---
import Footer from "@src/components/common/Footer.astro";
import AnchorNavigationText from "@src/components/ui/AnchorNavigationText.astro";
import Layout from "@src/layouts/Layout.astro";
import H1 from "@src/components/headings/H1.astro";

const description =
    "Lo sentimos, la página que buscas no existe. Regresa a la página de inicio y sigue explorando mis proyectos.";
---

<Layout
    title="Error 404 - Página no encontrada"
    lang="es"
    isNotFound
    metaDescription={description}
>
    <div class="relative grid min-h-screen text-center place-content-center">
        <H1
            class="mb-4 text-4xl font-bold leading-tight text-balance font-nunitoBold lg:text-5xl"
        >
            <span class="text-accent">404</span> Página no encontrada
        </H1>
        <p class="mb-4 text-2xl">No se ha podido encontrar esta página.</p>
        <AnchorNavigationText
            class:list="place-self-center"
            href="/"
            goBack={false}>Inicio</AnchorNavigationText
        >
    </div>
    <Footer
        lang="es"
        class:list={["absolute bottom-4 place-self-center text-center"]}
    />
</Layout>
