---
import Header from "@components/sections/Header.astro";
import Layout from "@layouts/Layout.astro";
import Footer from "@components/common/Footer.astro";
import Main from "@components/sections/Main.astro";
import Skills from "@components/sections/Skills.astro";
import type { lang } from "@src/types";

const lang: lang = "es";
const description =
    " Soy Nelson Rojas, desarrollador frontend especializado en crear soluciones digitales modernas y optimizadas.";
---

<Layout
    title="Nelson Rojas - Desarrollador Frontend"
    lang="es"
    metaDescription={description}
>
    <div class="lg:grid grid-cols-2 gap-x-10 relative">
        <Header lang={lang} />
        <Main lang={lang} />
        <div
            class="hidden lg:hidden max-lg:block md:flex md:items-end md:gap-x-12 justify-between"
        >
            <Skills class:list={["max-md:mb-section-gap"]} />
            <Footer lang={lang} />
        </div>
    </div>
</Layout>
