---
import Wrapper from "./Wrapper.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body
        class="text-white max-lg:py-8 px-4 selection:bg-accent selection:text-primary before:block before:fixed before:inset-0 before:bg-gradient-to-br before:from-secondary before:from-[-75%] before:via-primary before:to-secondary before:to-[175%]"
    >
        <Wrapper>
            <slot />
        </Wrapper>
    </body>
</html>
<style is:global>
    html {
        font-family: system-ui, sans-serif;
    }
</style>
