---
import Wrapper from "./Wrapper.astro";
import { ClientRouter } from "astro:transitions";

interface Props {
    title: string;
    lang: "en" | "es";
    isNotFound?: boolean;
}

const { title, lang, isNotFound } = Astro.props;
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="I build clean, modern, and efficient software solutions."
        />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/ico" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <meta
            name="description"
            content="I build clean, modern, and efficient software solutions."
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/assets/favicon-180x180.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/assets/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/assets/favicon-16x16.png"
        />
        <link rel="manifest" href="/assets/site.webmanifest" />
        <ClientRouter />
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://nelsonrojas.dev/" />
        <meta property="og:title" content="Nelson Rojas - Frontend Developer" />
        <meta
            property="og:description"
            content="I build clean, modern, and efficient software solutions."
        />
        <meta
            property="og:image"
            content="https://nelsonrojas.dev/assets/og-image.png"
        />

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content="https://nelsonrojas.dev/" />
        <meta
            property="twitter:title"
            content="Nelson Rojas - Frontend Developer"
        />
        <meta
            property="twitter:description"
            content="I build clean, modern, and efficient software solutions."
        />
        <meta
            property="twitter:image"
            content="https://nelsonrojas.dev/assets/og-image.png"
        />
        <!-- Meta Tags Generated with https://metatags.io -->
    </head>
    <body
        class=`text-white ${!isNotFound && "max-lg:py-8"} px-4 sm:px-4 lg:px-4 md:px-36 selection:bg-accent selection:text-primary before:block before:fixed before:-inset-80 before:bg-gradient-to-br before:from-secondary before:from-[-75%] before:via-primary before:to-secondary before:to-[175%] before:-z-50`
    >
        <Wrapper>
            <slot />
        </Wrapper>
    </body>
</html>
<style is:global>
    @font-face {
        font-family: "Nunito";
        src: url("../assets/fonts/Nunito-Regular.woff2") format(woff2);
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: "Nunito Bold";
        src: url("../assets/fonts/Nunito-Bold.woff2") format(woff2);
        font-weight: bold;
        font-style: bold;
        font-display: swap;
    }

    html {
        font-family: "Nunito", system-ui, sans-serif;
    }

    strong,
    b,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Nunito Bold", system-ui, sans-serif;
    }

    .content-visibility-auto {
        content-visibility: auto;
    }
</style>
