---
import type { AnchorTextType } from "@src/types";

type Props = AnchorTextType;

const { href, target, class: className } = Astro.props;
---

<a
    class=`lg:hover:text-accent transition-colors transition-duration-custom ease-in-out ${className}`
    href={href}
    target={target ? target : "_blank"}
>
    <slot />
</a>
