---
import Label from "./Label.astro";
import Input from "./Input.astro";
import TextArea from "./TextArea.astro";
import Button from "./Button.astro";
import { actions } from "astro:actions";
---

<form action={actions.send} method="POST">
    <div class="flex flex-col gap-4">
        <div
            class="flex flex-col gap-4 md:flex-row md:justify-between md:gap-8"
        >
            <div class="w-full">
                <Label for="name">Name</Label>
                <Input
                    placeholder="Your name"
                    class:list={["input-name"]}
                    type="text"
                    name="name"
                    id="name"
                    minlength={2}
                    maxlength={24}
                    required
                    pattern="[a-zA-Z]+( [a-zA-Z]+)?"
                    autofocus
                />
            </div>
            <div class="w-full">
                <Label for="surname">Surname</Label>
                <Input
                    placeholder="Your surname (optional)"
                    type="text"
                    id="surname"
                    minlength={2}
                    maxlength={24}
                    name="surname"
                />
            </div>
        </div>
        <div>
            <Label for="email">Email</Label>
            <Input
                placeholder="Your email"
                class:list={["input-email"]}
                type="email"
                name="email"
                id="email"
                required
                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            />
        </div>
        <div>
            <Label for="message">Message</Label>
            <TextArea
                placeholder="Your message"
                class:list={["input-msg"]}
                id="message"
                name="message"
                required
                pattern="[a-zA-Z]+"
            />
        </div>
        <div class="flex justify-end">
            <Button type="submit">Submit</Button>
        </div>
    </div>
</form>

<script>
    import { addValidationClasses } from "../../utils/formValidation";
    const inputName = document.querySelector(".input-name") as HTMLInputElement;
    const inputEmail = document.querySelector(
        ".input-email"
    ) as HTMLInputElement;
    const inputMsg = document.querySelector(
        ".input-msg"
    ) as HTMLTextAreaElement;
    const requiredInputs = [inputName, inputEmail, inputMsg];

    const handleInput = (event: Event) => {
        if (
            event.target instanceof HTMLInputElement ||
            event.target instanceof HTMLTextAreaElement
        ) {
            addValidationClasses(event.target as HTMLInputElement);
        } else {
            event.target?.removeEventListener("input", handleInput);
        }
    };

    requiredInputs.forEach((input) => {
        input.addEventListener("input", handleInput);
    });
</script>
