---
import type { lang } from "@src/types";

interface Props {
    lang: lang;
    href: string;
    class?: string;
}

const { lang, href, class: className = "" } = Astro.props;
---

<a
    href={href}
    class=`lang-slider block flex uppercase rounded-[10px] bg-accent overflow-hidden border-accent border-2 relative z-0 ${className}`
>
    <span
        class=`py-1 px-2 ${lang === 'en' ? 'text-black font-bold font-nunitoBold' : 'text-white bg-primary'}  transition-colors duration-custom ease-in-out rounded-l-[10px]`
        >en</span
    >
    <span
        class=`absolute top-0 bottom-0 ${lang === 'es' ? '-right-0 left-[50%] ' : '-left-0 right-[50%]'} bg-accent -z-10 transition-transform duration-custom ease-in-out rounded-[10px]`
    ></span>
    <span
        class=`py-1 px-2 ${lang === 'es' ? 'text-black font-bold font-nunitoBold' : 'text-white bg-primary'} transition-colors duration-custom ease-in-out rounded-r-[10px]`
        >es</span
    >
</a>
