---
const { class: className = "", isFixed = true, isBg = true } = Astro.props;
const fixed = isFixed ? "min-w-[34rem] min-h-[34rem]" : "";
const bgClass = isBg
    ? "bg-gradient-to-br from-secondary from-[-75%] via-primary to-secondary to-[175%]"
    : "";
---

<div
    class="popup-modal backdrop-brightness-75 backdrop-blur-sm fixed inset-0 z-50 flex items-center justify-center"
>
    <div class=`${className} ${fixed} ${bgClass} -z-50 p-6`>
        <slot />
    </div>
</div>
