---
import Icon from "@components/ui/Icon.astro";
import type { SocialNetworkType } from "@src/types";

const socials: SocialNetworkType[] = [
    {
        link: "https://github.com/nrdevpy",
        src: "/assets/logos/github.svg",
        alt: "Github Icon"
    },
    {
        link: "https://www.linkedin.com/in/nr-dev/",
        src: "/assets/logos/linkedin.svg",
        alt: "Linkedin Icon"
    },
    {
        link: "nelson_rojas_janda@hotmail.com",
        src: "/assets/logos/mail.svg",
        alt: "Mail",
        isMail: true
    },
    {
        link: "https://x.com/N3LSONROJ4S",
        src: "/assets/logos/x.svg",
        alt: "Twitter Icon"
    }
];

const { class: className = "" } = Astro.props;
---

<div class=`flex gap-x-4 ${className}`>
    {socials.map((social) => <Icon {...social} />)}
</div>
